/* ||| Global ||| */

/* Color Variables */

:root {
    --primarycolor: white;
    --secondarycolor: rgb(29, 0, 0);
    --tertiarycolor: rgb(29, 0, 56);
}

/* General Config */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.backdropgradient {
    background-image: linear-gradient(var(--secondarycolor), 30%, var(--tertiarycolor));
}

main {
    /* display: flex; */
}

/* Global Classes */

/* ||| h- Style ||| */

h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 100px;
    position: relative;
}

h3 {
    font-size: 50px;
}

/* ||| Header Style ||| */

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    background-image: linear-gradient(rgb(199, 134, 37), 20%, rgb(165, 58, 15));
    justify-content: center;
    width: 80%;
    height: 100px;
    border-radius: 0 0 85% 85%;
    border-style: none solid solid solid;
    border-color: rgb(43, 43, 43);
}

/* ||| Nav Style ||| */

nav {
    display: flex;
    justify-content: center;

}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

nav img {
    max-width: 70px;
    max-height: 70px;
    padding-top: 15px;
}

/*  ||| Hero |||  */

/* ||| Welcome Section ||| */

.welcome {
    height: 100%;
    padding: 300px 0 500px 0;
    color: white;
    overflow: hidden;
    position: relative;
}

/* Animation for Welcome Background */

/* declares the duration, xxx, xxx, iteration count, direction, and name  */
#streamer1 {
    animation: 20s linear 1s infinite alternate slideleftloop;
    position: absolute;
}

#streamer2 {
    animation: 20s linear 1s infinite alternate sliderightloop;
    position: absolute;
    margin-left: -50vw;
}

/* @keyframes [name of animation] { defines what the animation will do to the element, in this case slide fomr 0vw to -50vw along the x axis. */
@keyframes slideleftloop {
    from {
      transform: translateX(0vw);
    }

    to {
      transform: translateX(-50vw);
    }
}

@keyframes sliderightloop {
    from {
      transform: translateX(0vw);
    }

    to {
      transform: translateX(50vw);
    }
}

/* ||| Projects Section ||| */

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: var(--primarycolor);
    width: 99%;
}

.project1 {
    width: 22%;
    padding: 1%;
    background-color: yellow;
}

.project2 {
    width: 22%;
    padding: 1%;
    background-color: red;
    order: 2;
}

.project2:active {
    order: -1;
}

.project3 {
    width: 22%;
    padding: 1%;
    background-color: green;
    order: 3;
}

.project3:active {
    order: -1;
}

.project4 {
    width: 22%;
    padding: 1%;
    background-color: blue;
    order: 4;
}

.project4:active {
    order: -1;
}

.project5 {
    width: 22%;
    padding: 1%;
    background-color: purple;
    order: 5;
}

.project5:active {
    order: -1;
}

/* ||| Footer Style ||| */